<div class="section">
  <nav class="breadcrumb">
    <ul>
      <li>
        <%= link_to "Accounts", accounts_path %>
      </li>
      <li>
        <%= link_to @account.name, account_path(@account) %>
      </li>
      <li>Edit</li>
    </ul>
  </nav>
</div>

<%= render "form", account: @account %>
