<section class="hero">
  <div class="hero-body">
    <p class="title">Accounts</p>
  </div>
</section>

<div class="columns">
  <% @accounts.each do |account| %>
    <div class="column">
      <%= render 'account_card', account: account %>
    </div>
  <% end %>
</div>

<%= link_to new_account_path, class: "button" do %>
  <i class="ri-add-circle-fill"></i>&nbsp;Add account
<% end %>

